body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
}
/* Global */
.container{
    width:95%;
    margin:auto;
    overflow:hidden;
}

/* Services */
ul#services li{
    list-style: none;
    padding:25px;
    border: #cccccc solid 2px;
    margin-bottom:5px;
    background:#e6e6e6;
}

}
